@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<div class="container text-center">
    <h1>
        dev <a href="https://github.com/vremyavnikuda" target="_blank">vremyavnikuda</a>
    </h1>
</div>